<!DOCTYPE html>
<html>
    {% load static %}
<head>
  <title>Patient register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'table2.css' %}"/>
  {% include "adminheader.html" %}
</head>

   <table class="table">
    <caption>Patient report</caption>
    <thead>
        <tr>
         <th>Patient ID</th>
         <th>Patient Name</th>
         <th>Age</th>
         <th>Gender</th>
         <th>Address</th>
           <th>Phone</th>
         <th>Email</th>
         <th>Location</th>
         <th>Status</th>
         <th>Zone name</th>
         <th>Clinic name</th>
         <th>Request</th>
         <th>Complaint</th>
         
        </tr>
    </thead>
    <tbody>
        {% for a in data %}
          <tr>
           <td data-label="Patient ID">{{a.patient_id}}</td>
           <td data-label="Patient Name">{{a.name}}</td>
                <td data-label="Age">{{a.age}}</td>
                <td data-label="Gender">{{a.gender}}</td>
                <td data-label="Address">{{a.address}}</td>
                <td data-label="Phone">{{a.phone}}</td>
                <td data-label="Email">{{a.email}}</td>
                <td data-label="Location">{{a.location}}</td>
                <td data-label="Status">{{a.status}}</td>
                <td data-label="Zone id">{{a.zone_id.zone}}</td>
                <td data-label="Clinic id">{{a.clinic_id.clinic_name}}</td>
                
                <form method="post" action="/request/{{a.patient_id}}">
                    {% csrf_token %}
                    <td><button  class="btn1">Request</button></td>
                </form>
                <form method="post" action="/complaint/{{a.patient_id}}">
                    {% csrf_token %}
                    <td><button  class="btn2">Complaint</button></td>
              
             </form>
           
          </tr>
           {% endfor %}
     </tbody>
   </table>

</body>
</html>