<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
    {% load static %}
  <head>
    <meta charset="UTF-8">
   <!-- <title> Responsive Drop Down Navigation Menu | CodingLab </title>-->
    <link rel="stylesheet" href="{% static 'css/indexheader.css' %}">
    <link rel="stylesheet" href="{% static 'css/cust.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <nav>
    <div class="navbar">
      <i class='bx bx-menu' style="color: white;"></i>
      <div class="logo"><a href="#">MIP1</a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">Care</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
         
                  <li><a href="/index">HOME</a></li>
                  <li>
                      <a href="#">Zone Management</a>
                      <i class='bx bxs-chevron-down dept-arrow arrow  '></i>
                      <ul class="dept-sub-menu sub-menu">
                        <li><a href="/add_zone">Add Zone</a></li>
                        <li><a href="/remove_zone">Remove Zone</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">Volunteer Management</a>
                      <i class='bx bxs-chevron-down course-arrow arrow  '></i>
                      <ul class="course-sub-menu sub-menu">
                        <li><a href="/verify_volunteer">Verify Volunteer</a></li>
                        <li><a href="/remove_volunteer">Remove Volunteer</a></li>
                        <li><a href="/add_volunteer">Add Volunteer</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">Donation</a>
                      <i class='bx bxs-chevron-down course-arrow arrow  '></i>
                      <ul class="course-sub-menu sub-menu">
                        <li><a href="/viewdonation">View Donation</a></li>
                        
                      </ul>
                    </li>
                  
                  <li><a href="#">Report</a>
                    <i class='bx bxs-chevron-down course-arrow arrow  '></i>
                      <ul class="course-sub-menu sub-menu">
                        <li><a href="/adminreport">View Report</a></li>
                        <li><a href="/viewupdate">View Update</a></li>
                        
                  </li>
                
              </ul>
              <li><a href="/logout">Logout</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <script>
    // search-box open close js code
let navbar = document.querySelector(".navbar");

// sidebar open close js code
let navLinks = document.querySelector(".nav-links");
let menuOpenBtn = document.querySelector(".navbar .bx-menu");
let menuCloseBtn = document.querySelector(".nav-links .bx-x");
menuOpenBtn.onclick = function() {
navLinks.style.left = "0";
}
menuCloseBtn.onclick = function() {
navLinks.style.left = "-100%";
}


// sidebar submenu open close js code
let htmlcssArrow = document.querySelector(".htmlcss-arrow");
htmlcssArrow.onclick = function() {
navLinks.classList.toggle("show1");
}
let moreArrow = document.querySelector(".more-arrow");
moreArrow.onclick = function() {
navLinks.classList.toggle("show2");
}
let jsArrow = document.querySelector(".js-arrow");
jsArrow.onclick = function() {
navLinks.classList.toggle("show3");
}

</script>
</body>
</html>
