<!DOCTYPE html>
<html lang="en">
   {% load static %}
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Patient Registration</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/2.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'css/contact1.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive1.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- header -->
      <header>
         <!-- header inner -->
         {% include "indexheader.html" %}
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <div id="contact" class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div><br><br></div>
                  <div class="titlepage">
                     <h2> Patient Registration</h2>
                  </div>
               </div>
            </div>
            <div class="row d_flex">
               <div class="col-md-12">
                  <form id="request" method="post" action="/regpatient/" class="main_form">
                      {% csrf_token %}
                     <div class="row">
                        <div class="col-md-6 ">
                            <label>Patient ID</label>
                            <input class="form_control" type="text" name="txtPatientID" value="{{ pid }}" readonly> 
                         </div>
                        <div class="col-md-6 ">
                           <label>Name</label>
                           <input class="form_control" placeholder="" type="text" name="txtName" required> 
                        </div>
                        <div class="col-md-6 ">
                            <label>Age</label>
                            <input class="form_control" placeholder="" type="number" name="txtAge" required> 
                         </div>
                         <div class="col-md-6">
                            <label>Gender</label>
                            <select class="form_control" name="slcGender">
                               <option value="" disabled selected>-Select-</option>
                               <option value="Male">Male</option>
                               <option value="Female">Female</option>
                            </select>
                         </div>
                        <div class="col-md-6">
                           <label>Email</label>
                           <input class="form_control" placeholder="" type="email" name="txtEmail" required> 
                        </div>
                        <div class="col-md-6">
                           <label>Phone Number</label>
                           <input class="form_control" placeholder="" type="tel" name="txtPhone" required maxlength="10" pattern="[6789][0-9]{9}">                                                    
                        </div>
                        <div class="col-md-12">
                            <label>Address</label>
                            <textarea class="textarea" placeholder="" name="txtAddress"></textarea>
                         </div>
                         <div class="col-md-6 ">
                            <label>Location</label>
                            <input class="form_control" placeholder="" type="text" name="txtLocation" required> 
                         </div>
                         <div class="col-md-6">
                            <label>Clinic Name</label>
                            <select class="form_control" name="slcClinic">
                               <option value="" disabled selected>-Select-</option>
                               {% for a in data %}
                               <option value="{{ a.clinic_id }}">{{ a.clinic_name }}</option>
                               {% endfor %}
                            </select>
                         </div>
                         <input type="hidden" value="{{data}}" name="s1">
                         <script>
                            var a=parseInt(f1.s1.value);
                            if(a==1)
                            {
                               alert("successfully Registered...")
                            }
                         </script>
                        <div class="col-md-12">
                           <button class="send_btn">Register</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>

